@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

 :root {
    --primary-color: #1B98E0;
    --secondary-color: #59c3c3;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica,sans-serif;
    --secondary-font: "Amatic SC";
}


img {
    max-width: 100%;
}

body {
    margin: 0;
}

header {
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: center;
}

header img {
    width: auto;
    height: 4em 
}

header h1 {
    font-family: var(--secondary-font);
    color: var(--text-dark);
    align-self: flex-end;
    flex-grow: 1;
}

.search {
    padding: 15px;
    border-bottom: 1px solid grey;
    display: flex;

}

.search input {
    width: 100%;
    height: auto;
    border: 1px solid var(--text-dark);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.search button {
    border: 1px solid var(--text-dark);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search img {
    width: 25px;
    height: auto;
}

.item {
    margin: 15px;
    padding: 25px;
    border: 1px solid var(--text-dark);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.type {
    width: 4em;
    padding: 5px;
    color: var(--text-dark);
    font-family: var(--primary-font);
    border: 1px solid var(--text-dark);
    text-align: center;
}

.name {
    color: var(--primary-color);
    font-family: var(--secondary-font);
    font-size: 2em;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.social a img {
    width: 40px;
    height: auto;
}

footer {
    text-align: center;
    padding: 15px;
}

footer a {
    text-decoration: none;
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: .75em;
}

.hide {
    display: none;
}

@media screen and (min-width: 800px) {
    .hide {
        display: flex;
    }

    .item {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    .item img {
        width: 40%;
    }

    .details {
        display: flex;
        flex-direction: column;
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}