body {
    font-family: 'Courier New', Courier, monospace;
    max-width: 650px;
    margin: 0 auto;
}

.highlight {
    background-color:salmon;
}

header {
    background-color: blueviolet;
    color: white;
    padding: .5em;
}

header h1 {
    margin-bottom: 0;
}

header h2 {
    font-size: 1em;
    margin-top: .2em;
}