@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    /*COLORS*/
    --primary-color: #140513;
    --secondary-color: #FFFBFF;
    --accent1-color: #FE3432;
    --accent2-color: #993535;
    --accent3-color: #799496;
    /*FONT*/
    --heading-font: "Bebas Neue";
    --paragraph-font: Lato, Helvetica, sans-serif;
    /*HEADLINE*/
    --headline-color-on-white: var(--accent2-color);
    --headline-color-on-color: var(--primary-color);
    /*PARAGRAPH*/
    --paragraph-color-on-white: var(--primary-color);
    --paragraph-color-on-color: var(--primary-color);
    --paragraph-background-color: var(--accent3-color);
    /*NAV*/
    --nav-link-color: var(--primary-color);
    --nav-background-color: var(--accent3-color);
    --nav-hover-link-color: var(--secondary-color);
    --nav-hover-background-color: var(--accent1-color);
}

body {
    margin: 0;
    background-color: var(--accent3-color);
    font-style: var(--primary-color);
    font-family: var(--paragraph-font);
}

img {
    max-width: 100%;
}

header img {
    width: 15%;
    margin-left: 5%;
}

nav {
    list-style-type: none;
    display: flex;
    background-color: var(--nav-background-color);
    line-height: 1em;
    text-align: center;
}

nav a {
    padding: 1em;
    min-width: 75px;
    text-decoration: none;
    padding: 10px;
    font-family: var(--heading-font);
    font-size: 1.5em;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.bookCard {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--primary-color);
    margin: 1em;
    background-color: var(--secondary-color);
}

.bookCard img {
    margin-left: 100%;
    margin-right: 100%;
    width: 10em;
    height: auto;
    align-self: center;
    padding: 1em;
    border-bottom: 3px solid var(--primary-color);
}

.bookCard p {
    margin: 0;
    padding: 1em;
    font-family: var(--paragraph-font);
    font-size: 1em;
}

.storiesDrop {
    margin: 2em;
    margin-top: 1em;
    margin-left: 1em;
    padding: 1em;
}

.aboutCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;
    gap: 2em;
}

.aboutCard img {
    width: 33%;
    height: fit-content;
    border: 1px solid var(--primary-color);
}

.aboutText {
    display: flex;
    flex-direction: column;
}

.aboutText h2 {
    font-family: var(--heading-font);
    margin-top: 0;
    margin-bottom: 0;
}

footer {
    border-top:1px solid var(--primary-color);
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
}

footer a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

footer a {
    font-size: 1em;
    text-decoration: none;
    color: inherit;
    padding: .5em;
}

@media screen and (min-width: 800px) {

    header img {
        width: 10%;
        margin-left: 1%;
    }

    .aboutCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        gap: 2em;
    }

    body {
        font-size: 1.5em;
    }

    .bookCard {
        flex-direction: row;
    }

    .bookCard img {
        margin: 0;
        border-bottom: 0;
    }

    .bookCard > div {
        display: flex;
        flex-direction: column;
    }
}