@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

.dark {
    background-color: #333;
    color: white; 
}

.dark h2 {
color: #4F9ACF;
}                 

body {
    margin: 0 auto;
    width: 40%;
}

h1 {
    padding-top: 40px;
    text-align: center;
    font-size: 30px;
    font-family: Gilda Display;
}

h2 {
    text-align: center;
    border-bottom: 1px solid rgb(195, 195, 195);
    color: rgb(75, 75, 250);
    font-size: 15px;
    font-family: Gilda Display;
}

p {
    line-height: 25px;
}

.des {
    padding-top: 25px;
}

li {
    padding: 10px;
    line-height: 25px;
}

img {
    display: block;
    width: 100px;
    height: auto;
    padding-top: 50px;
    margin: 0 auto;
}